/* section "About" */

.about {
}

.about__title-h2 {
  text-align: center;
  font-size: 18px;
  letter-spacing: 2.306px;
  padding-top: 891px;
  padding-left: 7px;
}

.about__title-h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  display: block;
  margin: 10px auto 0;
  margin-bottom: 54px;
  padding-left: 20px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}
.about__left {
  max-width: 405px;
}

.about__left-title_h3 {
  font-size: 20px;
  letter-spacing: 0.188px;
  margin-bottom: 30px;
}

.accent_color {
  font-size: 20px;
  color: var(--blue-color);
  letter-spacing: 0.17px;
  margin-bottom: 30px;
}

.about__left-text {
  max-width: 405px;
  color: var(--gray-color);
}

.about__right {
  display: flex;
  align-items: flex-end;
  margin-right: 7px;
}

.about__right-item {
  width: 140px;
  height: 224px;
  color: var(--white-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 29px;
  /* 120.833% */
  letter-spacing: 0.188px;
  text-transform: uppercase;
  padding: 15px;
  margin-right: 15px;
}

.about__right-item:last-child {
  margin-right: 0px;
}

.bg_img-plane {
  background-image: url(../image/bg_img-plan.png);
  background-size: cover;
}

.bg_img-manage {
  background-image: url(../image/bg_img-manage.png);
  background-size: cover;
}

.bg_img-deliver {
  background-image: url(../image/bg_img-deliver.png);
  background-size: cover;
}

@media screen and (max-width: 1430px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 982px) {
  .container {
    padding: 0 50px;
  }
  .about__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__left {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 486px) {
  .container {
    padding: 0 15px;
  }
  .about__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__right {
    flex-direction: column;
  }

  .about__left {
    margin-bottom: 20px;
  }
  .about__right-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .about__right-item:last-child {
    margin-bottom: 0px;
  }
}
